<div class="page-header">
  <h3>Public Parking Spot #<%= @public_parking_spot.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @public_parking_spot.address %></dd>

      <dt>City</dt>
      <dd><%= @public_parking_spot.city %></dd>

      <dt>Zipcode</dt>
      <dd><%= @public_parking_spot.zipcode %></dd>

      <dt>Time</dt>
      <dd><%= @public_parking_spot.time %></dd>

      <dt>Car type</dt>
      <dd><%= @public_parking_spot.car_type %></dd>

      <dt>Pub offer user</dt>
      <dd>
        <% if @public_parking_spot.offer_user.present? %>
          <a href="/users/<%= @public_parking_spot.pub_offer_user_id %>">
            <%= @public_parking_spot.offer_user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Type of parking</dt>
      <dd><%= @public_parking_spot.type_of_parking %></dd>

      <dt>Max time</dt>
      <dd><%= @public_parking_spot.max_time %></dd>

      <dt>Pub price</dt>
      <dd><%= @public_parking_spot.pub_price %></dd>

      <dt>Description</dt>
      <dd><%= @public_parking_spot.description %></dd>

      <dt>Pub accept user</dt>
      <dd>
        <% if @public_parking_spot.accept_user.present? %>
          <a href="/users/<%= @public_parking_spot.pub_accept_user_id %>">
            <%= @public_parking_spot.accept_user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Already paid</dt>
      <dd><%= @public_parking_spot.already_paid %></dd>

      <dt>Paid time</dt>
      <dd><%= @public_parking_spot.paid_time %></dd>

      <dt>Pub date</dt>
      <dd><%= @public_parking_spot.pub_date %></dd>

      <dt>Pub points</dt>
      <dd><%= @public_parking_spot.pub_points %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/public_parking_spots" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @public_parking_spot.offer_user %>
        <a href="/public_parking_spots/<%= @public_parking_spot.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_public_parking_spot/<%= @public_parking_spot.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
