<div class="page-header">
  <h3>Information #<%= @information.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @information.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @information.neighborhood %></dd>

      <dt>User</dt>
      <dd>
        <% if @information.user.present? %>
          <a href="/users/<%= @information.user_id %>">
            <%= @information.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/information" class="btn btn-primary">
        Back
      </a>
      <a href="/information/<%= @information.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_information/<%= @information.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Information has many spots_avaiables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Spots_avaiables
      </li>

      <% @information.spots_avaiables.each do |spots_avaiable| %>
        <li class="list-group-item">
          <a href="/spots_avaiables/<%= spots_avaiable.id %>">
            <%= spots_avaiable.streets %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/spots_avaiables/<%= spots_avaiable.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/spots_avaiables/<%= spots_avaiable.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_spots_avaiable/<%= spots_avaiable.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_spots_avaiable" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for streets -->
      <div class="form-group">
        <label for="streets" class="control-label">
          Streets
        </label>

        <input type="text" id="streets" name="streets" placeholder="Streets" class="form-control" value="">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <!-- Label and input for thanks -->
      <div class="checkbox">
        <label for="thanks">
          <input type="checkbox" id="thanks" name="thanks" value="1" <%= "checked" if @spots_avaiable.thanks %>>
          Thanks
        </label>
      </div>

      <!-- Label and input for neighborhood_id -->
      <div class="form-group">
        <label for="neighborhood_id" class="control-label">
          Neighborhood
        </label>

        <%= select_tag(:neighborhood_id, options_from_collection_for_select(Information.all, :id, :city), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Spots Avaiable
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
