<div class="page-header">
  <h3>Information #<%= @information.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @information.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @information.neighborhood %></dd>

      <dt>User</dt>
      <dd><%= @information.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/information" class="btn btn-primary">
        Back
      </a>
      <a href="/information/<%= @information.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_information/<%= @information.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Information has many spots_avaiables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Spots_avaiables
      </li>

      <% @information.spots_avaiables.each do |spots_avaiable| %>
        <li class="list-group-item">
          <a href="/spots_avaiables/<%= spots_avaiable.id %>">
            <%= spots_avaiable.streets %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/spots_avaiables/<%= spots_avaiable.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/spots_avaiables/<%= spots_avaiable.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_spots_avaiable/<%= spots_avaiable.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
