<!-- Validation failure messages -->
<% if @private_parking_spot.errors.any? %>
  <% @private_parking_spot.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Private Parking Spot</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_private_parking_spot" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @private_parking_spot.address %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @private_parking_spot.city %>">
      </div>

      <!-- Label and input for zipcode -->
      <div class="form-group">
        <label for="zipcode" class="control-label">
          Zipcode
        </label>

        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%= @private_parking_spot.zipcode %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @private_parking_spot.date %>">
      </div>

      <!-- Label and input for starting_time -->
      <div class="form-group">
        <label for="starting_time" class="control-label">
          Starting time
        </label>

        <input type="text" id="starting_time" name="starting_time" placeholder="Starting time" class="form-control" value="<%= @private_parking_spot.starting_time %>">
      </div>

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="duration" class="control-label">
          Duration
        </label>

        <input type="text" id="duration" name="duration" placeholder="Duration" class="form-control" value="<%= @private_parking_spot.duration %>">
      </div>

      <!-- Label and input for points -->
      <div class="form-group">
        <label for="points" class="control-label">
          Points
        </label>

        <input type="text" id="points" name="points" placeholder="Points" class="form-control" value="<%= @private_parking_spot.points %>">
      </div>

      <!-- Label and input for car_type -->
      <div class="form-group">
        <label for="car_type" class="control-label">
          Car type
        </label>

        <input type="text" id="car_type" name="car_type" placeholder="Car type" class="form-control" value="<%= @private_parking_spot.car_type %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @private_parking_spot.description %></textarea>
      </div>

      <!-- Label and input for offer_user_id -->
      <div class="form-group">
        <label for="offer_user_id" class="control-label">
          Offer user
        </label>

        <%= select_tag(:offer_user_id, options_from_collection_for_select(User.all, :id, :created_at, @private_parking_spot.offer_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for accept_user_id -->
      <div class="form-group">
        <label for="accept_user_id" class="control-label">
          Accept user
        </label>

        <%= select_tag(:accept_user_id, options_from_collection_for_select(User.all, :id, :created_at, @private_parking_spot.accept_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for parking_price -->
      <div class="form-group">
        <label for="parking_price" class="control-label">
          Parking price
        </label>

        <input type="text" id="parking_price" name="parking_price" placeholder="Parking price" class="form-control" value="<%= @private_parking_spot.parking_price %>">
      </div>

      <button class="btn btn-success">
        Create Private Parking Spot
      </button>
      or
      <a href="/private_parking_spots">Cancel</a>
    </form>
  </div>
</div>
