<!-- Validation failure messages -->
<% if @private_parking_spot.errors.any? %>
  <% @private_parking_spot.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Private Parking Spot</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_private_parking_spot" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @private_parking_spot.address %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @private_parking_spot.city %>">
      </div>

      <!-- Label and input for zipcode -->
      <div class="form-group">
        <label for="zipcode" class="control-label">
          Zipcode
        </label>

        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%= @private_parking_spot.zipcode %>">
      </div>

      <!-- Label and input for pri_date -->
      <div class="form-group">
        <label for="pri_date" class="control-label">
          Pri date
        </label>

        <input type="text" id="pri_date" name="pri_date" placeholder="Pri date" class="form-control" value="<%= @private_parking_spot.pri_date %>">
      </div>

      <!-- Label and input for pri_time -->
      <div class="form-group">
        <label for="pri_time" class="control-label">
          Pri time
        </label>

        <input type="text" id="pri_time" name="pri_time" placeholder="Pri time" class="form-control" value="<%= @private_parking_spot.pri_time %>">
      </div>

      <!-- Label and input for pri_price -->
      <div class="form-group">
        <label for="pri_price" class="control-label">
          Pri price
        </label>

        <input type="text" id="pri_price" name="pri_price" placeholder="Pri price" class="form-control" value="<%= @private_parking_spot.pri_price %>">
      </div>

      <!-- Label and input for pri_offer_user_id -->
      <div class="form-group">
        <label for="pri_offer_user_id" class="control-label">
          Pri offer user
        </label>

        <%= select_tag(:pri_offer_user_id, options_from_collection_for_select(User.all, :id, :created_at, @private_parking_spot.pri_offer_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for pri_points -->
      <div class="form-group">
        <label for="pri_points" class="control-label">
          Pri points
        </label>

        <input type="text" id="pri_points" name="pri_points" placeholder="Pri points" class="form-control" value="<%= @private_parking_spot.pri_points %>">
      </div>

      <!-- Label and input for pri_accept_user_id -->
      <div class="form-group">
        <label for="pri_accept_user_id" class="control-label">
          Pri accept user
        </label>

        <%= select_tag(:pri_accept_user_id, options_from_collection_for_select(User.all, :id, :created_at, @private_parking_spot.pri_accept_user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Private Parking Spot
      </button>
      or
      <a href="/private_parking_spots">Cancel</a>
    </form>
  </div>
</div>
