<div class="page-header">
  <h3>Private Parking Spot #<%= @private_parking_spot.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @private_parking_spot.address %></dd>

      <dt>City</dt>
      <dd><%= @private_parking_spot.city %></dd>

      <dt>Zipcode</dt>
      <dd><%= @private_parking_spot.zipcode %></dd>

      <dt>Date</dt>
      <dd><%= @private_parking_spot.date %></dd>

      <dt>Time</dt>
      <dd><%= @private_parking_spot.time %></dd>

      <dt>Pri offer user</dt>
      <dd>
        <% if @private_parking_spot.offer_user.present? %>
          <a href="/users/<%= @private_parking_spot.pri_offer_user_id %>">
            <%= @private_parking_spot.offer_user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Points</dt>
      <dd><%= @private_parking_spot.points %></dd>

      <dt>Pri accept user</dt>
      <dd>
        <% if @private_parking_spot.accept_user.present? %>
          <a href="/users/<%= @private_parking_spot.pri_accept_user_id %>">
            <%= @private_parking_spot.accept_user.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/private_parking_spots" class="btn btn-primary">
        Back
      </a>
      <a href="/private_parking_spots/<%= @private_parking_spot.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_private_parking_spot/<%= @private_parking_spot.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
