<div class="page-header">
  <h1>
    Cars
    <a href="/cars/new" class="btn btn-lg btn-success">New Car</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "cars_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :type_of_car_cont, "Type of car contains" %>
    <%= f.text_field :type_of_car_cont, :class => "form-control", :placeholder => "Type of car contains" %>
  </div>

<div class="form-group">
    <%= f.label :car_color_cont, "Car color contains" %>
    <%= f.text_field :car_color_cont, :class => "form-control", :placeholder => "Car color contains" %>
  </div>

<div class="form-group">
    <%= f.label :car_registration_cont, "Car registration contains" %>
    <%= f.text_field :car_registration_cont, :class => "form-control", :placeholder => "Car registration contains" %>
  </div>

<div class="form-group">
    <%= f.label :car_model_cont, "Car model contains" %>
    <%= f.text_field :car_model_cont, :class => "form-control", :placeholder => "Car model contains" %>
  </div>

<div class="form-group">
    <%= f.label :car_manf_cont, "Car manf contains" %>
    <%= f.text_field :car_manf_cont, :class => "form-control", :placeholder => "Car manf contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/cars" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#cars_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Type of car</th>
        <th>Car manf</th>
        <th>Car model</th>
        <th>Car registration</th>
        <th>Car color</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @cars.each do |car| %>
      <tr>
        <td><%= car.type_of_car %></td>
        <td><%= car.car_manf %></td>
        <td><%= car.car_model %></td>
        <td><%= car.car_registration %></td>
        <td><%= car.car_color %></td>
        <td>
          <% if car.user.present? %>
            <a href="/users/<%= car.user.id %>">
              <%= car.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/cars/<%= car.id %>" class="btn btn-primary">Show</a>
          <a href="/cars/<%= car.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_car/<%= car.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @cars, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
