<div class="page-header">
  <h3>Car #<%= @car.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Type of car</dt>
      <dd><%= @car.type_of_car %></dd>

      <dt>Car manf</dt>
      <dd><%= @car.car_manf %></dd>

      <dt>Car model</dt>
      <dd><%= @car.car_model %></dd>

      <dt>Car registration</dt>
      <dd><%= @car.car_registration %></dd>

      <dt>Car color</dt>
      <dd><%= @car.car_color %></dd>

      <dt>User</dt>
      <dd><%= @car.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cars" class="btn btn-primary">
        Back
      </a>
      <a href="/cars/<%= @car.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_car/<%= @car.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
