<!-- Validation failure messages -->
<% if @spots_information.errors.any? %>
  <% @spots_information.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Spots Information</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_spots_information" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @spots_information.city %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @spots_information.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for zipcode -->
      <div class="form-group">
        <label for="zipcode" class="control-label">
          Zipcode
        </label>

        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%= @spots_information.zipcode %>">
      </div>

      <!-- Label and input for streets -->
      <div class="form-group">
        <label for="streets" class="control-label">
          Streets
        </label>

        <input type="text" id="streets" name="streets" placeholder="Streets" class="form-control" value="<%= @spots_information.streets %>">
      </div>

      <!-- Label and input for thanks -->
      <div class="checkbox">
        <label for="thanks">
          <input type="checkbox" id="thanks" name="thanks" value="1" <%= "checked" if @spots_information.thanks %>>
          Thanks
        </label>
      </div>

      <button class="btn btn-success">
        Create Spots Information
      </button>
      or
      <a href="/spots_informations">Cancel</a>
    </form>
  </div>
</div>
